In [1]:
import pandas as pd
import numpy as np
import requests
import os
import zipfile
import xlsxwriter
from sqlalchemy import create_engine
import sys 
import json
import psycopg2
import openpyxl

In [2]:
class PostgresCredentials:
    postgres_credentials = { 
        'postgres_username' : 'postgres',
        'postgres_password' : 'radek',
        'postgres_host' : 'localhost',
        'postgres_port' : '5432',
    }

In [3]:
class PostgresConnection(PostgresCredentials):
    def __init__(self):
        super().__init__()
        self.username = self.postgres_credentials["postgres_username"]
        self.password = self.postgres_credentials["postgres_password"]
        self.host = self.postgres_credentials["postgres_host"]
        self.port = self.postgres_credentials["postgres_port"]
        
    def get_connection(self):
        conn = psycopg2.connect(
            dbname='postgres',
            user=self.username,
            password=self.password,
            host=self.host,
            port=self.port
        )
        cur = conn.cursor()
        return conn, cur 
    
    def read_table( self, cur, table_name):
        try:
            cur.execute(f'SELECT * FROM {table_name} LIMIT 15')
            rows = cur.fetchall()
            print(f"First 5 rows in tehe {table_name}")
            for row in rows:
                print( row )
        except Exception as e:
            print( "Error eccured while selection data: ", e )

In [2]:
# used = r'used_cars.zip'
# extract_dir = 'used_cars_files'
# print( dir(zipfile) )
# print( zipfile.ZipInfo(used)) 
# # with zipfile.ZipFile(used, 'r') as zipfile:
# #         zipfile.extractall( extract_dir)

In [4]:
autoscsv = r'used_cars_files/autos.csv'

In [5]:
autos = pd.read_csv(autoscsv,delimiter=',')

In [8]:
def create_engine_new( ):
    engine = create_engine(f'postgresql://postgres:radek@localhost:5432/')
    return engine

In [10]:
# engine = create_engine(f'postgresql://postgres:radek@localhost:5432/')
engine = create_engine_new()

In [7]:
autos.to_sql(name='autos',con=engine, if_exists='replace' , index=False)

528

In [4]:
print( autos.info() )
print( ' --------- ')
print( autos.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                371528 non-null  int64
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  object
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int64
 6   abtest               371528 non-null  object
 7   vehicleType          333659 non-null  object
 8   yearOfRegistration   371528 non-null  int64
 9   gearbox              351319 non-null  object
 10  powerPS              371528 non-null  int64
 11  model                351044 non-null  object
 12  kilometer            371528 non-null  int64
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             338142 non-null  object
 15  brand                371528 non-null  object
 16  notRepairedDamage    299468 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int64
 19  postalCode           371528 non-null  int64
 20  lastSeen             371528 non-null  object
dtypes: int64(8), object(13)
memory usage: 59.5+ MB
None
 ---------
(371528, 21)

In [7]:
autos_part1= autos.iloc[1000:2000]
autos_part2= autos.iloc[5000:6000]
autos_part3= autos.iloc[8000:9000]

In [5]:
# import pandas as pd

def write_dataframe_to_excel(dataframe, excel_file_name, sheet_name='Sheet1', index=False):
    """
    Write a pandas DataFrame to an Excel file.

    Parameters:
    - dataframe: The DataFrame you want to write to the Excel file.
    - excel_file_name: The name of the Excel file, e.g., 'output.xlsx'.
    - sheet_name: The name of the Excel sheet (default is 'Sheet1').
    - index: Whether to include the DataFrame index in the Excel file (default is False).

    Returns:
    - None
    """

    # excel_file_name = 'output.xlsx'
    with pd.ExcelWriter(excel_file_name, engine='xlsxwriter') as writer:
        # Write the DataFrame to the Excel file
        dataframe.to_excel(writer, sheet_name='MySheet', index=False)

In [6]:
# write_dataframe_to_excel(autos,'output.xlsx')
# write_dataframe_to_excel(autos_part1,'output.xlsx')
# write_dataframe_to_excel(autos_part2,'output.xlsx')
write_dataframe_to_excel(autos_part3,'output.xlsx')

In [35]:
# from sqlalchemy import create_engine

def write_dataframe_to_postgres(dataframe, table_name, connection_string):
    """
    Write a pandas DataFrame to a PostgreSQL database table.

    Parameters:
    - dataframe: The DataFrame you want to write to the PostgreSQL table.
    - table_name: The name of the PostgreSQL table.
    - connection_string: The SQLAlchemy connection string for your PostgreSQL database.

    Returns:
    - None
    """
    
    # Create a SQLAlchemy engine
    engine = create_engine(connection_string)

    # Write the DataFrame to the PostgreSQL table
    dataframe.to_sql(table_name, engine, if_exists='replace', index=False)

# Example usage:
# Create a sample DataFrame
# data = {'Name': ['Alice', 'Bob', 'Charlie'],
#         'Age': [25, 30, 35]}
# df = pd.DataFrame(data)

# Define your PostgreSQL connection string
# Replace with your actual database connection details
# connection_string = "postgresql://username:password@localhost:5432/database_name"

# Call the function to write the DataFrame to the PostgreSQL table
# write_dataframe_to_postgres(df, 'my_table', connection_string)

In [41]:
# data frame to sql 
from sqlalchemy import text 
autosql = autos.copy(deep=True)
enginesql = create_engine('sqlite://',echo=False)
autosql.to_sql(name='tablesql',con=enginesql)
with enginesql.connect() as conn:
        result = conn.execute(text('SELECT * FROM tablesql limit 10;')).fetchall()
        for row in result:
                print( row )

(3240, 3240, 'lada', 'andere', 'Lada_Volga_3102', 8400, 'limousine', 'manuell', 137)
(3496, 3496, 'lada', 'samara', '2xLada_Samara_Coupe_BJ_1991/1992_weiss/rot_199€/99€_bitte_lesen', 199, None, 'manuell', 0)
(4153, 4153, 'lada', 'niva', 'seltener_Lada_Niva_mit_Saug_Diesel_Bj.1997_LKW_Zulassung_ohne_TÜV', 2500, 'suv', 'manuell', 64)
(4603, 4603, 'lada', 'andere', 'Lada_Shiguli_2101_DDR_Oldtimer_Scheunenfund', 1350, None, None, 0)
(5638, 5638, 'lada', 'niva', 'Lada_Niva_1700i_HU_BIS_08_2017', 2500, 'suv', 'manuell', 0)
(5854, 5854, 'lada', 'andere', 'Guenstig_fahren!!_TÜV_NEU!!', 1600, 'limousine', 'manuell', 90)
(6485, 6485, 'lada', 'niva', 'Lada_Niva_Allrad___Neuer_Lack___neue_Inspektion', 2500, None, None, 0)
(6952, 6952, 'lada', 'niva', 'Lada_niva_mit_motorschaden', 1200, None, 'manuell', 82)
(12991, 12991, 'lada', 'niva', 'Lada_Niva_1.7i_Kult', 3000, 'suv', 'manuell', 82)
(14159, 14159, 'lada', 'andere', 'Lada_1200__Lada_2101_Zhiguli_Fiat_124_Aus_Kroatien.', 1599, 'limousine', 'manuell', 60)

In [44]:
print( autos2.query('name.str.contains("BMW")', engine='python') )

         index          dateCrawled  \
5            5  2016-04-04 17:36:23
21          21  2016-03-27 11:38:00
25          25  2016-03-18 21:44:09
33          33  2016-03-25 21:48:47
42          42  2016-03-24 00:52:09
...        ...                  ...
371462  371462  2016-03-15 22:49:39
371474  371474  2016-03-25 17:48:10
371477  371477  2016-03-07 16:50:15
371494  371494  2016-03-26 14:38:18
371527  371527  2016-03-07 19:39:19

                                                     name  seller offerType  \
5       BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...  privat   Angebot
21      BMW_530i_TÜV_7/17_Scheckheftgepflegt_sehr_gute...  privat   Angebot
25                  BMW_530d_touring_Vollausstattung_NAVI  privat   Angebot
33                                          BMW_325i_Aut.  privat   Angebot
42                                          BMW_E60_530XD  privat   Angebot
...                                                   ...     ...       ...
371462                                   BMW_520d_touring  privat   Angebot
371474                                BMW_118i_Sport_Line  privat   Angebot
371477                        BMW_525d_Touring_Sport_Aut.  privat   Angebot
371494  BMW_760_erst_110_000_km_letze_Chance_bis_Monta...  privat   Angebot
371527       BMW_M135i_vollausgestattet_NP_52.720____Euro  privat   Angebot

        price   abtest vehicleType  yearOfRegistration    gearbox  ...  \
5         650     test   limousine                1995    manuell  ...
21       3699     test   limousine                2002  automatik  ...
25       2500  control       kombi                2002  automatik  ...
33      18000     test   limousine                2007  automatik  ...
42      12500     test   limousine                2006  automatik  ...
...       ...      ...         ...                 ...        ...  ...
371462   5390  control       kombi                2001    manuell  ...
371474  19800     test   limousine                2011    manuell  ...
371477  23900  control       kombi                2011  automatik  ...
371494  11500  control   limousine                2004  automatik  ...
371527  28990  control   limousine                2013    manuell  ...

          model kilometer  monthOfRegistration  fuelType brand  \
5           3er    150000                   10    benzin   bmw
21          5er    150000                    7    benzin   bmw
25          5er    150000                    9    diesel   bmw
33          3er     20000                    5    benzin   bmw
42          5er    150000                   11    diesel   bmw
...         ...       ...                  ...       ...   ...
371462      5er    150000                    8    diesel   bmw
371474      1er     80000                   12    benzin   bmw
371477      5er    150000                    7    diesel   bmw
371494      7er    125000                    0    benzin   bmw
371527  m_reihe     50000                    8    benzin   bmw

       notRepairedDamage          dateCreated nrOfPictures  postalCode  \
5                     ja  2016-04-04 00:00:00            0       33775
21                  nein  2016-03-27 00:00:00            0       68309
25                    ja  2016-03-18 00:00:00            0       73765
33                  nein  2016-03-25 00:00:00            0       39179
42                   NaN  2016-03-23 00:00:00            0       46119
...                  ...                  ...          ...         ...
371462              nein  2016-03-15 00:00:00            0       47228
371474              nein  2016-03-25 00:00:00            0       41460
371477              nein  2016-03-07 00:00:00            0       85376
371494               NaN  2016-03-26 00:00:00            0        4107
371527              nein  2016-03-07 00:00:00            0       73326

                   lastSeen
5       2016-04-06 19:17:07
21      2016-04-07 06:44:26
25      2016-03-18 21:44:09
33      2016-04-07 04:45:21
42      2016-04-04 16:18:19
...                     ...
371462  2016-04-07 09:45:33
371474  2016-04-06 22:47:12
371477  2016-03-21 06:18:39
371494  2016-04-06 20:45:16
371527  2016-03-22 03:17:10

[33264 rows x 21 columns]

In [6]:
print( autos.columns )

Index(['index', 'dateCrawled', 'name', 'seller', 'offerType', 'price',
       'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS',
       'model', 'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [7]:
columns = list( autos.columns) 
print( columns)
for i in range(0,5):
        print( autos.iloc[[i]])
# for index, row in enumerate(autos.columns):
#         print( index, row)

['index', 'dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType', 'brand', 'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode', 'lastSeen']
   index          dateCrawled        name  seller offerType  price abtest  \
0      0  2016-03-24 11:52:17  Golf_3_1.6  privat   Angebot    480   test

  vehicleType  yearOfRegistration  gearbox  ...  model kilometer  \
0         NaN                1993  manuell  ...   golf    150000

   monthOfRegistration  fuelType       brand notRepairedDamage  \
0                    0    benzin  volkswagen               NaN

           dateCreated nrOfPictures  postalCode             lastSeen
0  2016-03-24 00:00:00            0       70435  2016-04-07 03:16:57

[1 rows x 21 columns]
   index          dateCrawled                  name  seller offerType  price  \
1      1  2016-03-24 10:58:45  A5_Sportback_2.7_Tdi  privat   Angebot  18300

  abtest vehicleType  yearOfRegistration  gearbox  ...  model kilometer  \
1   test       coupe                2011  manuell  ...    NaN    125000

   monthOfRegistration  fuelType brand notRepairedDamage          dateCreated  \
1                    5    diesel  audi                ja  2016-03-24 00:00:00

  nrOfPictures  postalCode             lastSeen
1            0       66954  2016-04-07 01:46:50

[1 rows x 21 columns]
   index          dateCrawled                            name  seller  \
2      2  2016-03-14 12:52:21  Jeep_Grand_Cherokee_"Overland"  privat

  offerType  price abtest vehicleType  yearOfRegistration    gearbox  ...  \
2   Angebot   9800   test         suv                2004  automatik  ...

   model kilometer  monthOfRegistration  fuelType brand notRepairedDamage  \
2  grand    125000                    8    diesel  jeep               NaN

           dateCreated nrOfPictures  postalCode             lastSeen
2  2016-03-14 00:00:00            0       90480  2016-04-05 12:47:46

[1 rows x 21 columns]
   index          dateCrawled                name  seller offerType  price  \
3      3  2016-03-17 16:54:04  GOLF_4_1_4__3TÜRER  privat   Angebot   1500

  abtest vehicleType  yearOfRegistration  gearbox  ...  model kilometer  \
3   test  kleinwagen                2001  manuell  ...   golf    150000

   monthOfRegistration  fuelType       brand notRepairedDamage  \
3                    6    benzin  volkswagen              nein

           dateCreated nrOfPictures  postalCode             lastSeen
3  2016-03-17 00:00:00            0       91074  2016-03-17 17:40:17

[1 rows x 21 columns]
   index          dateCrawled                            name  seller  \
4      4  2016-03-31 17:25:20  Skoda_Fabia_1.4_TDI_PD_Classic  privat

  offerType  price abtest vehicleType  yearOfRegistration  gearbox  ...  \
4   Angebot   3600   test  kleinwagen                2008  manuell  ...

   model kilometer  monthOfRegistration  fuelType  brand notRepairedDamage  \
4  fabia     90000                    7    diesel  skoda              nein

           dateCreated nrOfPictures  postalCode             lastSeen
4  2016-03-31 00:00:00            0       60437  2016-04-06 10:17:21

[1 rows x 21 columns]

In [8]:
print( autos["vehicleType"].unique() )
print( autos["gearbox"].unique()  )

[nan 'coupe' 'suv' 'kleinwagen' 'limousine' 'cabrio' 'bus' 'kombi'
 'andere']
['manuell' 'automatik' nan]

In [9]:
# print( autos["gearbox"].unique()  )

In [10]:
autos2 = autos.copy( deep=True)

In [11]:
print( autos2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                371528 non-null  int64
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  object
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int64
 6   abtest               371528 non-null  object
 7   vehicleType          333659 non-null  object
 8   yearOfRegistration   371528 non-null  int64
 9   gearbox              351319 non-null  object
 10  powerPS              371528 non-null  int64
 11  model                351044 non-null  object
 12  kilometer            371528 non-null  int64
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             338142 non-null  object
 15  brand                371528 non-null  object
 16  notRepairedDamage    299468 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int64
 19  postalCode           371528 non-null  int64
 20  lastSeen             371528 non-null  object
dtypes: int64(8), object(13)
memory usage: 59.5+ MB
None

In [12]:
for column in columns:
        print( column , len( autos2[ column ].unique()) ,    type(autos2[column].loc[0]))

index 371528 <class 'numpy.int64'>

dateCrawled 280500 <class 'str'>
name 233531 <class 'str'>
seller 2 <class 'str'>
offerType 2 <class 'str'>
price 5597 <class 'numpy.int64'>
abtest 2 <class 'str'>
vehicleType 9 <class 'float'>
yearOfRegistration 155 <class 'numpy.int64'>
gearbox 3 <class 'str'>
powerPS 794 <class 'numpy.int64'>
model 252 <class 'str'>
kilometer 13 <class 'numpy.int64'>
monthOfRegistration 13 <class 'numpy.int64'>
fuelType 8 <class 'str'>
brand 40 <class 'str'>
notRepairedDamage 3 <class 'float'>
dateCreated 114 <class 'str'>
nrOfPictures 1 <class 'numpy.int64'>
postalCode 8150 <class 'numpy.int64'>
lastSeen 182806 <class 'str'>

In [13]:
autos2["seller"] = autos2["seller"].astype("category")
autos2["abtest"] = autos2["abtest"].astype("category")
autos2["vehicleType"] = autos2["vehicleType"].astype("category")
autos2["gearbox"] = autos2["gearbox"].astype("category")
autos2["fuelType"] = autos2["fuelType"].astype("category")
print( autos2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                371528 non-null  int64
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  category
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int64
 6   abtest               371528 non-null  category
 7   vehicleType          333659 non-null  category
 8   yearOfRegistration   371528 non-null  int64
 9   gearbox              351319 non-null  category
 10  powerPS              371528 non-null  int64
 11  model                351044 non-null  object
 12  kilometer            371528 non-null  int64
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             338142 non-null  category
 15  brand                371528 non-null  object
 16  notRepairedDamage    299468 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int64
 19  postalCode           371528 non-null  int64
 20  lastSeen             371528 non-null  object
dtypes: category(5), int64(8), object(8)
memory usage: 47.1+ MB
None

In [14]:
autos2["index"] = autos2["index"].astype("int32")
autos2["price"] = autos2["price"].astype("int32")
autos2["yearOfRegistration"] = autos2["yearOfRegistration"].astype("int32")
autos2["powerPS"] = autos2["powerPS"].astype("int32")
autos2["kilometer"] = autos2["kilometer"].astype("int32")
autos2["nrOfPictures"] = autos2["nrOfPictures"].astype("int32")
autos2["postalCode"] = autos2["postalCode"].astype("int32")

In [15]:
print( autos2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                371528 non-null  int32
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  category
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int32
 6   abtest               371528 non-null  category
 7   vehicleType          333659 non-null  category
 8   yearOfRegistration   371528 non-null  int32
 9   gearbox              351319 non-null  category
 10  powerPS              371528 non-null  int32
 11  model                351044 non-null  object
 12  kilometer            371528 non-null  int32
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             338142 non-null  category
 15  brand                371528 non-null  object
 16  notRepairedDamage    299468 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int32
 19  postalCode           371528 non-null  int32
 20  lastSeen             371528 non-null  object
dtypes: category(5), int32(7), int64(1), object(8)
memory usage: 37.2+ MB
None

In [16]:
for column in columns:
        print( column , len( autos2[ column ].unique()) ,    type(autos2[column].loc[0]))

index 371528 <class 'numpy.int32'>
dateCrawled 280500 <class 'str'>
name 233531 <class 'str'>
seller 2 <class 'str'>
offerType 2 <class 'str'>
price 5597 <class 'numpy.int32'>
abtest 2 <class 'str'>
vehicleType 9 <class 'float'>
yearOfRegistration 155 <class 'numpy.int32'>
gearbox 3 <class 'str'>
powerPS 794 <class 'numpy.int32'>
model 252 <class 'str'>
kilometer 13 <class 'numpy.int32'>
monthOfRegistration 13 <class 'numpy.int64'>
fuelType 8 <class 'str'>
brand 40 <class 'str'>
notRepairedDamage 3 <class 'float'>
dateCreated 114 <class 'str'>
nrOfPictures 1 <class 'numpy.int32'>
postalCode 8150 <class 'numpy.int32'>
lastSeen 182806 <class 'str'>

In [17]:
print(columns[:4] )
print(columns[3:8] )
print(columns[8:12] )
print(columns[12:16] )
print(columns[16:] )

['index', 'dateCrawled', 'name', 'seller']
['seller', 'offerType', 'price', 'abtest', 'vehicleType']
['yearOfRegistration', 'gearbox', 'powerPS', 'model']
['kilometer', 'monthOfRegistration', 'fuelType', 'brand']
['notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode', 'lastSeen']

In [18]:
selected = autos2[["index","brand","model","name","price","vehicleType","gearbox","powerPS"]]

In [19]:
selected.sort_values("brand")

,index,brand,model,name,price,vehicleType,gearbox,powerPS
330583,330583,alfa_romeo,andere,Alfa_Romeo_Giulia,5900,limousine,manuell,87
18826,18826,alfa_romeo,NaN,Super_schoener_Alfa_Romeo_Twinspark_147,1450,limousine,NaN,150
353275,353275,alfa_romeo,156,Alfa_Romeo_156_Sportwagon_2.5_V6_24V,2499,kombi,manuell,190
252474,252474,alfa_romeo,156,Alfa_Romeo_156_Sportwagon_1.9_JTD_16V_GQ,1399,kombi,manuell,150
226642,226642,alfa_romeo,156,Verkaufe_Alfa_Romeo_156_2.0_TS_TÜV_07/2016,290,limousine,manuell,155
...,...,...,...,...,...,...,...,...
107981,107981,volvo,v50,Volvo_V50_1.6D_DPF___weitere_Bilder_folgen,4800,kombi,manuell,109
107988,107988,volvo,v50,Volvo_V50_DPF_DRIVe,7900,kombi,manuell,114
318026,318026,volvo,xc_reihe,Volvo_XC_90_2.5T_Automatik_7_Sitzer,5000,suv,automatik,208
35208,35208,volvo,v70,Volvo_EXLUSIV.T_LEDER.181800TKM.2H.ALU.MET.TEM...,3850,kombi,manuell,140
71338,71338,volvo,andere,Volvo_940_GL_gepflegter_Youngtimer_Euro2,2990,kombi,automatik,131

In [20]:
print( selected["brand"].unique() )

['volkswagen' 'audi' 'jeep' 'skoda' 'bmw' 'peugeot' 'ford' 'mazda'
 'nissan' 'renault' 'mercedes_benz' 'opel' 'seat' 'citroen' 'honda' 'fiat'
 'mini' 'smart' 'hyundai' 'sonstige_autos' 'alfa_romeo' 'subaru' 'volvo'
 'mitsubishi' 'kia' 'suzuki' 'lancia' 'porsche' 'toyota' 'chevrolet'
 'dacia' 'daihatsu' 'trabant' 'saab' 'chrysler' 'jaguar' 'daewoo' 'rover'
 'land_rover' 'lada']

In [21]:
# for brand in selected["brand"].unique():
#         print( selected["brand"].str.contains(brand))

In [22]:
# print( selected[selected["brand"].str.contains("jaguar")])
jags = selected[selected["brand"].str.contains("jaguar")]

print( jags )
max_jag = max(selected[selected["brand"].str.contains("jaguar")]["powerPS"])
print( max_jag )
print( jags[jags["powerPS"] == max_jag][["model", "name"]] )
# print( selected[selected["brand"].str.contains(jags ) ] ) 
# print( max(selected[selected["brand"].str.contains("jaguar")]["powerPS"]))

         index   brand   model  \
864        864  jaguar  andere
1166      1166  jaguar  andere
1786      1786  jaguar  x_type
1820      1820  jaguar  x_type
1843      1843  jaguar  s_type
...        ...     ...     ...
367775  367775  jaguar  x_type
368534  368534  jaguar  x_type
368765  368765  jaguar  s_type
369974  369974  jaguar  s_type
370784  370784  jaguar  s_type

                                                     name  price vehicleType  \
864                            Jaguar_XJ40__sehr_gepflegt   3750   limousine
1166                                       Jaguar_Xf_3.0D  25000         NaN
1786                                 Jaguar_XF_Sportbrake  28800       kombi
1820              Jaguar_X_Type_2.5_V6_4x4_Aut._Executive  14900   limousine
1843                                 Jaguar_S_Type_3.0_V6   1999   limousine
...                                                   ...    ...         ...
367775  ++++_Jaguar_X_Type_Executive_3.0_V6_Allrad_Aut...   4999   limousine
368534            Jaguar_X_Type_2.2_Diesel_Aut._Executive  15900   limousine
368765  Reserviert!_Alufelgen_von_meinem_S_Type_zu_ver...    199   limousine
369974                         Jaguar_S_Type_2.5_V6_Sport   4350   limousine
370784                      JAGUAR_S__TYPE_4.0_V8_3._HAND   2250   limousine

          gearbox  powerPS
864     automatik      234
1166    automatik        0
1786    automatik      200
1820    automatik      196
1843      manuell      238
...           ...      ...
367775  automatik      231
368534  automatik      145
368765        NaN        0
369974  automatik      200
370784  automatik      276

[621 rows x 8 columns]
600
         model                name
14023   s_type     Jaguar_S_Type_R
153485  s_type  Jaguar_S_Type_R_V8
170389  s_type  Jaguar_S_Type_R_V8

In [23]:
for brand in selected["brand"].unique():
        autos = selected[selected["brand"].str.contains(brand)]
        max_power = max( selected[selected["brand"].str.contains(brand)]["powerPS"]   )
        print( autos[autos["powerPS"] ==  max_power][["model","name","powerPS"]], max_power )

      model            name  powerPS
66039  polo  VW_Polo_6N_GTI    12012 12012
       model                                  name  powerPS
158057    80  Audi_80_Avant_2.8_V6_RS2_Optik_/_LPG    17410 17410
        model                                           name  powerPS
142879  grand  Jeep_Grand_Cherokee_SRT___Keyless_Go__wie_NEU      468 468
          model                     name  powerPS
260714  octavia  Skoda_Octavia_Combi_Tsi    16011 16011
       model               name  powerPS
313723   5er  Verkaufe_BMW_528i    19312 19312
       model                name  powerPS
273651   NaN  Peugeot_307_kommbi    10910 10910
         model                       name  powerPS
170136  fiesta  Top_geopflegter_fiesta_st    15001 15001
         model                                name  powerPS
92303  6_reihe  Mazda_626_Benzin._Mit_gute_zustand     1115 1115
       model              name  powerPS
336855   NaN  Nissan_Terrano_2     2389 2389
         model                   name  powerPS
101106  megane  Reault_megane__cabrio    10710 10710
       model                            name  powerPS
230298   clk  Mercedes_CLK_430___8_Zylinder_    20000 20000
       model        name  powerPS
67100  omega  Opel_Omega    17932 17932
        model                     name  powerPS
100266  ibiza  Seat_Ibiza_fuer_Bastler     4400 4400
           model                           name  powerPS
322266  berlingo  Berlingo_1.8_multispace__90ps     9012 9012
     model         name  powerPS
8099   NaN  Honda_Civic     1400 1400
        model                           name  powerPS
11577  andere  Fiat_Lancia_Delta_HPE_1_6_16v    10317 10317
         model                    name  powerPS
150099  cooper  Mini_MK_2_Austin_Rover     6018 6018
        model                                          name  powerPS
47200  fortwo  Smart_Brabus_Tailor_Made_Cabrio_mit_Garantie    10218 10218
         model                                   name  powerPS
273115  andere  meine_liebe_sparsam_auto_zu_verkaufen      999 999
       model                     name  powerPS
197143   NaN  Ibiza_Seat_zu_verkaufen    12684 12684
         model           name  powerPS
215849  andere  Alfa_Romeo_GT    15033 15033
          model                    name  powerPS
103200  impreza  Subaru_Impreza_WRX_STI      483 483
         model                                               name  powerPS
279868  andere  Volvo_S80_T6_2_9_LPG_von_KME_auch_Tausch_moeglich     2792 2792
          model                name  powerPS
363454  carisma  Mitsubishi_carisma    12512 12512
       model                      name  powerPS
103474  ceed  KIA_CEED_SW_Vision_weiss    11509 11509
        model                           name  powerPS
96757  andere  Suzuki_Baleno_1_3l_GS_TÜV_neu     8404 8404
          model             name  powerPS
365894  ypsilon  Baster_Fahrzeug     1241 1241
       model                                               name  powerPS
179151   911  Porsche_911_997_Turbo___9ff____Techart____Excl...      680 680
      model                                           name  powerPS
35563  aygo  Ideal_als_Zweitwagen_oder_fuer_Fahranfaenger.     6920 6920
        model                                        name  powerPS
197291  spark  Chevrolet_Spark_KLIMA_SITZHEIZUNG_28000_km     8259 8259
          model                  name  powerPS
319322  sandero  Dacia_Sandero_1.4GPL      800 800
        model                                    name  powerPS
135210  cuore  25_km/h_Auto_Daihatsu_Cuore__Mopedauto      301 301
         model                     name  powerPS
266641  andere  schoener_Breitbau_trabi      236 236
         model                                   name  powerPS
300247  andere  SAAB_97_X_AERO_Corvette_V8_6_0L_Motor      390 390
           model                                               name  powerPS
89370  ptcruiser  PT_Cruiser_Crd_2.0_fuer_Kurzentschlossene_bis_...    15016 15016
         model                name  powerPS
14023   s_type     Jaguar_S_Type_R      600
153485  s_type  Jaguar_S_Type_R_V8      600
170389  s_type  Jaguar_S_Type_R_V8      600 600
         model                        name  powerPS
211669  nubira  Daewoo_Nubira_PKW_TÜV/neu!     1598 1598
                   model                                               name  \
82966  range_rover_sport  Land_Rover_Range_Rover_Sport_SVR_MwSt_ausweisb...

       powerPS
82966      551   551
                   model                                               name  \
82966  range_rover_sport  Land_Rover_Range_Rover_Sport_SVR_MwSt_ausweisb...

       powerPS
82966      551   551
       model             name  powerPS
3240  andere  Lada_Volga_3102      137 137

In [24]:
powerseries = autos2["powerPS"]
print(autos2[ (autos2["powerPS"] > 30)  & ( autos2["powerPS"] < 1030 )][["brand","name","model","powerPS"]] )

             brand                                               name  \
1             audi                               A5_Sportback_2.7_Tdi
2             jeep                     Jeep_Grand_Cherokee_"Overland"
3       volkswagen                                 GOLF_4_1_4__3TÜRER
4            skoda                     Skoda_Fabia_1.4_TDI_PD_Classic
5              bmw  BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...
...            ...                                                ...
371520        seat                                       turbo_defekt
371524       smart              Smart_smart_leistungssteigerung_100ps
371525  volkswagen                 Volkswagen_Multivan_T4_TDI_7DC_UY2
371526  volkswagen                             VW_Golf_Kombi_1_9l_TDI
371527         bmw       BMW_M135i_vollausgestattet_NP_52.720____Euro

              model  powerPS
1               NaN      190
2             grand      163
3              golf       75
4             fabia       69
5               3er      102
...             ...      ...
371520         leon      225
371524       fortwo      101
371525  transporter      102
371526         golf      100
371527      m_reihe      320

[329466 rows x 4 columns]

In [25]:
powerseries.sort_values()

0             0
246835        0
246805        0
246798        0
61025         0
          ...
67100     17932
138950    19208
119715    19211
313723    19312
230298    20000
Name: powerPS, Length: 371528, dtype: int32

In [26]:
print( autos2[["brand","name","powerPS"]].iloc[[61025,313723,230298]])

                brand                            name  powerPS
61025   mercedes_benz       Mercedes_A_Klasse_170_CDI        0
313723            bmw               Verkaufe_BMW_528i    19312
230298  mercedes_benz  Mercedes_CLK_430___8_Zylinder_    20000

In [27]:
# print( autos2.iloc[:4])
print( autos2[(autos2["fuelType"] == "benzin") ].head())

   index          dateCrawled  \
0      0  2016-03-24 11:52:17
3      3  2016-03-17 16:54:04
5      5  2016-04-04 17:36:23
6      6  2016-04-01 20:48:51
7      7  2016-03-21 18:54:38

                                                name  seller offerType  price  \
0                                         Golf_3_1.6  privat   Angebot    480
3                                 GOLF_4_1_4__3TÜRER  privat   Angebot   1500
5  BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...  privat   Angebot    650
6                        Peugeot_206_CC_110_Platinum  privat   Angebot   2200
7                       VW_Derby_Bj_80__Scheunenfund  privat   Angebot      0

  abtest vehicleType  yearOfRegistration  gearbox  ...    model kilometer  \
0   test         NaN                1993  manuell  ...     golf    150000
3   test  kleinwagen                2001  manuell  ...     golf    150000
5   test   limousine                1995  manuell  ...      3er    150000
6   test      cabrio                2004  manuell  ...  2_reihe    150000
7   test   limousine                1980  manuell  ...   andere     40000

   monthOfRegistration  fuelType       brand notRepairedDamage  \
0                    0    benzin  volkswagen               NaN
3                    6    benzin  volkswagen              nein
5                   10    benzin         bmw                ja
6                    8    benzin     peugeot              nein
7                    7    benzin  volkswagen              nein

           dateCreated nrOfPictures  postalCode             lastSeen
0  2016-03-24 00:00:00            0       70435  2016-04-07 03:16:57
3  2016-03-17 00:00:00            0       91074  2016-03-17 17:40:17
5  2016-04-04 00:00:00            0       33775  2016-04-06 19:17:07
6  2016-04-01 00:00:00            0       67112  2016-04-05 18:18:39
7  2016-03-21 00:00:00            0       19348  2016-03-25 16:47:58

[5 rows x 21 columns]