In [1]:
import pandas as pd
import numpy as np
import requests
import os
import sys 
import json
import zipfile
import xlsxwriter
import psycopg2
from sqlalchemy import create_engine
import openpyxl

In [5]:
file_name = 'UsedCars/output.xlsx'
excel_file = pd.ExcelFile(file_name)

excel_sheets = excel_file.sheet_names 
print( excel_sheets)
pd_dict = {}
for index, sheet in enumerate(excel_sheets):
    pd_dict[sheet] = pd.read_excel(file_name, sheet_name=excel_sheets[index])
    
# df_excel = pd.read_excel(file_name, sheet_name=excel_sheets[0])
# df_excel1 = pd.read_excel(file_name, sheet_name=excel_sheets[1])
# df_excel2 = pd.read_excel(file_name, sheet_name=excel_sheets[2])

# print( df_excel.head(10))

['MySheet', 'Sheet2', 'Sheet3']

In [6]:
print( pd_dict["Sheet3"])

     index          dateCrawled  \
0     8156  2016-04-02 21:42:53
1     8157  2016-03-07 20:52:10
2     8158  2016-04-04 16:50:23
3     8159  2016-03-24 19:50:49
4     8160  2016-03-14 06:03:07
..     ...                  ...
614   8995  2016-03-16 15:46:36
615   8996  2016-04-04 13:55:22
616   8997  2016-03-16 20:55:12
617   8998  2016-03-14 21:39:01
618   8999  2016-03-08 19:46:43

                                                  name  seller offerType  \
0                                  Audi_A4_Avant_1.8_T  privat   Angebot
1                                   Peugeot_1007_Typ_K  privat   Angebot
2    Mercedes_Benz_Viano_2.2_CDI_DPF_kompakt_4Matic...  privat   Angebot
3                                       Opel_Corsa_Eco  privat   Angebot
4                             Ford_Galaxy__Polizeiauto  privat   Angebot
..                                                 ...     ...       ...
614  Passat_Variant_2.0_TDI_BlueMotion_Technology_H...  privat   Angebot
615  Mercedes_Benz_E_350_CDI_Avantgarde_HU+AU_NEU_1...  privat   Angebot
616                                       Golf_4_Bj.98  privat   Angebot
617                      Suche_Pkw__.opel.Mazda_.ford.  privat   Angebot
618                           Ford_Focus_1.6_16V_Style  privat   Angebot

     price   abtest vehicleType  yearOfRegistration    gearbox  powerPS  \
0     2299     test       kombi                2004  automatik      163
1     3100     test  kleinwagen                2007    manuell       73
2    29950     test         bus                2012  automatik      163
3      699     test  kleinwagen                1995    manuell       45
4     1500     test         bus                2000    manuell      145
..     ...      ...         ...                 ...        ...      ...
614  10000     test       kombi                2013    manuell      140
615  25750  control      cabrio                2010  automatik      231
616      0  control         NaN                2017    manuell       75
617      0     test   limousine                2000        NaN        0
618   5250     test   limousine                2008    manuell      101

        model  kilometer  monthOfRegistration fuelType          brand
0          a4     150000                    5   benzin           audi
1      andere      70000                    5   benzin        peugeot
2       viano      60000                    3   diesel  mercedes_benz
3       corsa     150000                   11   benzin           opel
4      galaxy     150000                    2   benzin           ford
..        ...        ...                  ...      ...            ...
614    passat      40000                    6   diesel     volkswagen
615  e_klasse     150000                   12   diesel  mercedes_benz
616       NaN     150000                    4      NaN     volkswagen
617       NaN     150000                    1      NaN           ford
618     focus     125000                    9   benzin           ford

[619 rows x 16 columns]

In [14]:
def create_dataframe(file_name):
    with open(file_name, 'r') as f:
        data = json.load( f )
    df = pd.DataFrame(data)
    return df

In [15]:
data2 = create_dataframe('data2.json')